<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gui_box1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,150},{114,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,101}}</string>
                <key>sourceSize</key>
                <string>{114,101}</string>
            </dict>
            <key>gui_box10.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,150},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>gui_box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,132},{58,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,108}}</string>
                <key>sourceSize</key>
                <string>{58,108}</string>
            </dict>
            <key>gui_box3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{332,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,128}}</string>
                <key>sourceSize</key>
                <string>{332,128}</string>
            </dict>
            <key>gui_box4.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,182},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>gui_box5.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,182},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>gui_box6.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,150},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>gui_box7.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,208},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>gui_box8.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,192},{20,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>gui_box9.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,58},{24,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,43}}</string>
                <key>sourceSize</key>
                <string>{24,43}</string>
            </dict>
            <key>gui_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{260,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,86}}</string>
                <key>sourceSize</key>
                <string>{260,86}</string>
            </dict>
            <key>gui_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,90},{150,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,58}}</string>
                <key>sourceSize</key>
                <string>{150,58}</string>
            </dict>
            <key>gui_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{150,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,58}}</string>
                <key>sourceSize</key>
                <string>{150,58}</string>
            </dict>
            <key>gui_btn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,90},{259,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,58}}</string>
                <key>sourceSize</key>
                <string>{259,58}</string>
            </dict>
            <key>gui_btn5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{256,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,58}}</string>
                <key>sourceSize</key>
                <string>{256,58}</string>
            </dict>
            <key>gui_btn6.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,150},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>gui_btn7.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>gui_btn8.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,212},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>gui_btn9.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,192},{38,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,42}}</string>
                <key>sourceSize</key>
                <string>{38,42}</string>
            </dict>
            <key>gui_img1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,192},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui#1#0.pvr.ccz</string>
            <key>size</key>
            <string>{657,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21eeb3ce8c334118706be9aa4d878aae:7728d5e001843f36494e752e5f35a26c:39c32e6a35df8ef7c1a7684a15c50cb3$</string>
            <key>textureFileName</key>
            <string>gui#1#0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
